# Fill out these fields and rename the file to fleetimporter.config
samsara_auth_token: samsara_api_4XduTOTALLYFAKElsn81ehRcpMafSy
sheet_id: 1WLREDACTEDREDACTEDREDACTEDREDACTEDtdIBxxfSI
special_sheet_name: AutoUpdatedDoNotEdit
xml_file_name: /var/www/data.xml
