[Unit]
Description=Import fleet data from Samsara into Google Sheets

[Timer]
OnBootSec=10min
OnUnitActiveSec=1hour

[Install]
WantedBy=timers.target
